<%- include("navbar.ejs") %>

<div class="container bg-white p-4">
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-transform: capitalize;"><%= status %> Order List</h3>
        </div>
        <div class="col-md-12 mt-3">
            <table class="table table-bordered table-sm">
                <tr>
                    <th></th>
                    <th>SrNo</th>
                    <th>Order No</th>
                    <th>Order Date</th>
                    <th>Address</th>
                    <th>Customer Name</th>
                    <th>Order Amount</th>
                </tr>
                <% for(var i=0;i<orders.length;i++) { %>
                    <tr>
                        <td>
                            <a href="/admin/order_details/<%=orders[i].order_id%>">
                                <button class="btn btn-secondary btn-sm">Details</button>
                            </a>
                        </td>
                        <td><%=i+1%></td>
                        <td>#FashionFit00<%=orders[i].order_id%></td>
                        <td><%=orders[i].order_date%></td>
                        <td><%= orders[i].customer_landmark %>, <%= orders[i].customer_area %>
                            , <%= orders[i].customer_city %>, <%= orders[i].customer_district %>, <%= orders[i].customer_state %>,
                            <%= orders[i].customer_address_pincode %></td>
                        <td><%= orders[i].customer_name%></td>
                        <td>&#8377; <%= orders[i].order_amount%> - <%= orders[i].payment_mode %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>

<%- include("footer.ejs") %>
