
<br>


  <footer id="footer">
    <div class="container">
      <div class="footer-menu-list">
        <div class="row d-flex flex-wrap justify-content-between">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Ultras</h5>
              <ul class="menu-list list-unstyled">
                <li class="menu-item">
                  <a href="about.html">About us</a>
                </li>
                <li class="menu-item">
                  <a href="#">Conditions </a>
                </li>
                <li class="menu-item">
                  <a href="blog.html">Our Journals</a>
                </li>
                <li class="menu-item">
                  <a href="#">Careers</a>
                </li>
                <li class="menu-item">
                  <a href="#">Affiliate Programme</a>
                </li>
               
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Customer Service</h5>
              <ul class="menu-list list-unstyled">
                <li class="menu-item">
                  <a href="faqs.html">FAQ</a>
                </li>
                <li class="menu-item">
                  <a href="contact.html">Contact</a>
                </li>
                <li class="menu-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="menu-item">
                  <a href="#">Returns & Refunds</a>
                </li>
                <li class="menu-item">
                  <a href="#">Cookie Guidelines</a>
                </li>
                <li class="menu-item">
                  <a href="#">Delivery Information</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Contact Us</h5>
              <p>Do you have any questions or suggestions? <a href="mailto:<%- company_info.company_email %>" class="email"><%- company_info.company_email %></a>
              </p>
              <p>Do you need assistance? Give us a call. <br>
               <a href="tel:<%- company_info.company_mobile %>"> <strong>+91 <%- company_info.company_mobile %></strong></a>
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Address</h5>
              <p><%- company_info.company_address %></p>
              <div class="social-links">
                <ul class="d-flex list-unstyled">
                  <li>
                    <a target="_blank" href="<%- company_info.instagram_link %>">
                      <i class="icon icon-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="<%- company_info.twitter_link %>">
                      <i class="icon icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="<%- company_info.youtube_link %>">
                      <i class="icon icon-youtube-play"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://wa.me/91 <%- company_info.whatsapp_no %>">
                      <i class="fa fa-whatsapp"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="<%- company_info.telegram_link %>">
                      <i class="fa fa-telegram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </footer>



  <script src="/js/jquery-1.11.0.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>